@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

$content-width : 500px;

.show{display: block!important;}
.hide{display: none!important;}

button{
    display: inline-block;
    padding: 0 .75em;
    height: 40px;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: .25em;
    background-color: #000;
}
body{
  font-family: 'Nanum Gothic', sans-serif;
}

header{
    position:relative;
    padding: 50px;
    h1{
       text-align: center;
       cursor: pointer;
      //  width: 200px;
       img{
         width: 150px;
       }
    }
    nav{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
       ul{
            display: flex;
            li{
                margin-left: 10px;
            }
        }
    }
}

.preloader,.alert{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 10;
}
.preloader{
    .loading-icon{
      position:relative;
      width: 150px;
      height: 150px;
      span{
        position:absolute;
        top: 50%;
        left: 50%;
        transform:translate3d(-50%,-50%,0);
      }
      #loading-line{
        animation: spin 10s linear infinite;
        stroke-dasharray: 2790;
        stroke-dashoffset: 0;
        fill:none;
        stroke:#000;
        stroke-width: 2px;
      };

    }
}
@keyframes spin {
  from{transform: rotate(0deg);stroke-dashoffset: 2790;}
  to{transform: rotate(360deg);stroke-dashoffset: 0;}
}

.alert{
    .text-container{
      background:#fff;
      width:200px;
      text-align:center;
      padding:20px;
      border-radius:4px;
      .btn-other{
        display:inline-block;
        border-radius:4px;
        padding:15px;
        background: #000;
        color:#fff;
        cursor:pointer ;
      }
    }
  }


.drawing-container{
    position: relative;
    width: $content-width;
    height: 500px;
    margin: 0 auto;
    background: #fff;
    border:1px solid #999;
    canvas{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      //  visibility: hidden;
    }
    .drawing-box{
      position:absolute;
      .download:hover{
        box-shadow:0 0 20px #999;
        transition:box-shadow 0.5s ease-in-out;
      }
    }
    #line{
      fill : none;
      stroke:#000000;
      stroke-width:1;
      stroke-linecap:round;
      stroke-dasharray: 4000; /*이 값은 path의 길이와 동일합니다*/
      stroke-dashoffset: 0;
      animation: dash 8s linear;
    }
    @keyframes dash {
        0% {
          stroke-dashoffset: 4000;
        }
        100% {
          stroke-dashoffset: 0;
        }
      }
  }

.btn-wrap{
    width: $content-width;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
  .ico-mask{
    position: relative;
    width: 9px;
    height: 16px;
    display: inline-block;
    overflow: hidden;
    .ico-1,.ico-2{
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      background-image: url("/img/arrow_down_w.svg");
      background-size:contain;
      background-repeat: no-repeat;
      transition: transform 0.5s ease-in-out;
    }
  }
    .upload-btn{
        input[type="file"]{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
        }
        label {
        display: inline-block;
        padding: .5em .75em;
        color: #999;
        font-size: inherit;
        line-height: normal;
        vertical-align: middle;
        cursor: pointer;
        border-radius: .25em;
        &.primary {
            color: #fff;
            background-color: #000;
        }
        }
        .upload-name {
        display: inline-block;
        padding: .5em .75em;
        font-size: inherit;
        font-family: inherit;
        line-height: normal;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #ebebeb;
        border-bottom-color: #e2e2e2;
        border-radius: .25em;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        }
      .ico-mask{
        border-top:2px solid #fff;
        margin-top:1px;
        .ico-1{transform:translate3d(0,0,0)rotate(180deg);}
        .ico-2{transform:translate3d(0,105%,0) rotate(180deg);}
      }
      &:hover{
        .ico-mask{
          .ico-1{
            transform:translate3d(0,-105%,0)rotate(180deg);
          }
          .ico-2{
            transform:translate3d(0,0,0)rotate(180deg);
          }
        }
      };
    }
    .download-btn{
        margin-top: 30px;
        button{
            margin-left: 10px;
            &:first-child{
                margin-left: 0;
            }
        }
      .ico-mask{
        border-bottom:2px solid #fff;
        margin-bottom:-2px;
        .ico-1{transform:translate3d(0,-105%,0);}
        .ico-2{transform:translate3d(0,0,0);}
      }
      &:hover{
        .ico-mask{
          .ico-1{
            transform:translate3d(0,0,0);
          }
          .ico-2{
            transform:translate3d(0,105%,0);
          }
        }
      };
    }
  #kakao-link-btn{
    margin-left: 10px;
    img{
      width: 30px;
    }
  }
  #naver-link-btn{
    img{
      width: 30px;
    }
  }
  #facebook-link-btn{
    img{
      width: 23px;
    }
  }
  #kakao-link-btn,#naver-link-btn, #facebook-link-btn{
    width: 50px;
    height: 40px;
    &:hover{
      img{
        animation: bounce 1s ;
      };
    }
  };
  .download{
    .ico-mask{
      margin-left: 5px;
    }
  }
  .comment{
    img{
      width: 18px;
      margin-left: 5px;
    }
  }
  .sns-share{
    margin-top: 10px;
  }
}
@keyframes bounce {
  from,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -10px, 0) scaleY(1.1);
    transform: translate3d(0, -10px, 0) scaleY(1.1);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -5px, 0) scaleY(1.05);
    transform: translate3d(0, -5px, 0) scaleY(1.05);
  }

  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, -1.5px, 0) scaleY(1.02);
    transform: translate3d(0, -1.5px, 0) scaleY(1.02);
  }
}


.msg-wrap{
    width: $content-width;
    margin: 0 auto;
    form{
        width: 100%;
        background: #000;
        display: flex;
        textarea{
            width: 70%;
            border:1px solid #e2e2e2;
        }
        button{
            width: 30%;
        }
    }
    .msg-item{
      display: flex;
      border: 1px solid #999;
      margin-top:10px;
      .msg-drawing{
        width: 30%;
        background: #fff;
      }
      .msg-content{
        position:relative;
        width: 70%;
        padding:10px 20px;
        p{margin-top: 10px;}
        .msg-btn{
          position:absolute;
          top: 0;
          right: 0;
         // transform: translate3d(0,-50%,0);
          opacity: 0;
        }
        &:hover{
          .msg-btn{
            opacity: 1;
          }
        }
      }
    }
}
