@charset "UTF-8";
.show {
  display: block !important;
}

.hide {
  display: none !important;
}

button {
  display: inline-block;
  padding: .5em .75em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  border-radius: .25em;
  background-color: #000;
}

header {
  position: relative;
  padding: 50px;
}

header h1 {
  text-align: center;
}

header nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin-left: 10px;
}

.preloader, .alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.preloader .loading-icon {
  position: relative;
  width: 150px;
  height: 150px;
}

.preloader .loading-icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.alert .text-container {
  background: #fff;
  width: 200px;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
}

.alert .text-container .btn-other {
  display: inline-block;
  border-radius: 4px;
  padding: 15px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.drawing-container {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background: #fff;
}

.drawing-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
}

.drawing-container .drawing-box {
  position: absolute;
}

.drawing-container .drawing-box .download:hover {
  -webkit-box-shadow: 0 0 20px #999;
          box-shadow: 0 0 20px #999;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

.drawing-container #line {
  fill: none;
  stroke: #000000;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-dasharray: 4000;
  /*이 값은 path의 길이와 동일합니다*/
  stroke-dashoffset: 0;
  -webkit-animation: dash 8s linear;
          animation: dash 8s linear;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 4000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 4000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.btn-wrap {
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.btn-wrap .upload-btn input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.btn-wrap .upload-btn label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  border-radius: .25em;
}

.btn-wrap .upload-btn label.primary {
  color: #fff;
  background-color: #000;
}

.btn-wrap .upload-btn .upload-name {
  display: inline-block;
  padding: .5em .75em;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-wrap .download-btn {
  margin-top: 30px;
}

.btn-wrap .download-btn button {
  margin-left: 10px;
}

.btn-wrap .download-btn button:first-child {
  margin-left: 0;
}

.msg-wrap {
  width: 500px;
  margin: 0 auto;
}

.msg-wrap form {
  width: 100%;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.msg-wrap form textarea {
  width: 70%;
  border: 1px solid #e2e2e2;
}

.msg-wrap form button {
  width: 30%;
}

.msg-wrap .msg-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #999;
  margin-top: 10px;
}

.msg-wrap .msg-item .msg-drawing {
  width: 30%;
  background: #fff;
}

.msg-wrap .msg-item .msg-content {
  position: relative;
  width: 70%;
  padding: 10px 20px;
}

.msg-wrap .msg-item .msg-content p {
  margin-top: 10px;
}

.msg-wrap .msg-item .msg-content .msg-btn {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.msg-wrap .msg-item .msg-content:hover .msg-btn {
  opacity: 1;
}
/*# sourceMappingURL=index.css.map */